DB_USER_SECRET=
DB_PASSWORD_SECRET=
DB_HOST=
DB_PORT=
DB_NAME=

APP_PORT=8001

ADMIN_PASSWORD_HASH=
ADMIN_USER=
JWT_SECRET=
ACCESS_TOKEN_EXPIRE_MINUTES=
SECRET_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
